.p-cart {
    margin-bottom: 60px;

    &-group {
        &:not(:last-child) {
            margin-bottom: 32px;

            @include isMobile() {
                margin-bottom: 12px;
            }
        }

        &__header {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            gap: 12px;
        }

        &__checkbox {
        }

        &__name {
            color: $cBlack2;
            font-size: 32px;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: -1px;
        }

        &__tooltip {
            margin-left: 12px;
        }
    }

    &__warning {
        margin-bottom: 16px;
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @include is1024() {
            flex-direction: column;
            gap: 24px;
        }

        @include is360() {
            flex-direction: column;
            gap: 12px;
        }

        &__buttons {
            display: flex;
            align-items: center;
            gap: 12px;

            @include is768($w1024) {
                flex-direction: column;
                align-items: flex-start;
            }

            @include is360() {
                flex-direction: column;
                align-items: stretch;
                width: 100%;
            }
        }

        &__warning {
            max-width: 372px;
        }
    }
}
