.layout-header-search {
    flex: 1;
    margin-right: 22px;

    &__control {
        position: relative;
        flex: 1;
    }

    &__prompts {
        display: flex;
        align-items: center;
        margin-top: 4px;
        gap: 4px;

        span {
            color: $cGrayPrimary;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
        }
    }

    &__prompt {
        color: $cGreenPrimary;
        text-decoration: none;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;

        &:not(&:last-child)::after {
            content: ',';
        }
    }

    .ui-button {
        position: absolute;
        top: 0;
        right: 0;
    }
}
