.layout-title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    @include is1024() {
        margin-bottom: 24px;
    }

    @include is768() {
        margin-bottom: 16px;
    }

    @include is360() {
        margin-bottom: 12px;
    }

    &__value {
        @include h1;
        margin: 0;
        color: $cBlackText;
    }

    &__badge {
        //display: flex;
        //align-items: center;
        //height: 36px;
        //padding: 0 14px;
        //margin-left: 16px;
        //border: 1px solid $cPrimary;
        //border-radius: 4px 20px;
        //color: $cPrimary;
        //text-align: center;
        //font-size: 16px;
        //line-height: 100%;
    }
}
