.p-cart {
    &__inner {
        display: flex;
        align-items: flex-start;
        gap: 16px;
    }

    &__main {
        flex: 1;
    }

    &__aside {
        min-width: 310px;
        width: 310px;
    }
}
