.p-cart {
    &__inner {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }

    &__main {
        flex: 1;
    }

    &__aside {
        min-width: 310px;
        width: 310px;
    }

    .ui-page-title {
        padding-right: 330px;
    }
}
