.p-cart {
    &__inner {
        display: flex;
        align-items: flex-start;
        margin-bottom: 70px;
        gap: 20px;
    }

    &__header {
        margin-bottom: 30px;
    }

    &__main {
        flex: 1;
    }

    &__aside {
        width: 310px;
        min-width: 310px;
    }

    .ui-page-title {
        padding-right: 330px;
    }

    &-total__warning {
        display: flex;
        align-items: flex-start;
        margin-bottom: 24px;
        color: $cGrayPrimary;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        gap: 10px;
    }

    &-delivery {
        display: flex;
        align-items: center;
        gap: 18px;

        * {
            transition: 0.25s;
        }

        &-item {
            display: flex;
            align-items: flex-start;
            width: 214px;
            padding: 10px 16px;
            border: 1px solid $cBorder;
            border-radius: 8px;
            cursor: pointer;
            color: $cTypo;
            gap: 8px;

            @include iconColor($cTypo);

            &--active {
                border: 1px solid $cGreenSecondary;
                color: $cGreenSecondary;
                @include iconColor($cGreenSecondary);
            }

            &__inner {

            }

            &__name {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
            }

            &__price {
                color: $cGrayPrimary;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
            }
        }
    }
}
