.ui-dropdown {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    gap: 8px;

    &__label {
        color: $cGrayPrimary;
        white-space: nowrap;
    }

    &__control {
        width: 100%;
    }

    &__items {
        position: absolute;
        top: 100%;
        right: 0;
        display: none;
        z-index: 10;
        width: 100%;
        min-width: 160px;
        margin-top: 4px;
        box-shadow: 0 0 20px 0 rgba(74, 74, 74, 0.10);
        background: $cWhite;
        border-radius: 8px;
        overflow: hidden;

        &--loading {
            padding: 16px 0;
        }
    }

    &__item {
        display: block;
        padding: 10px 15px;
        background: $cWhite;
        cursor: pointer;
        color: $cTypo;
        text-decoration: none;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 500;
        line-height: 100%;
        white-space: nowrap;
        transition: 0.2s;
        overflow: hidden;

        &:hover {
            background: $cLightBlue;
            color: $cGreenPrimary;
        }
    }

    &--opened &__items {
        display: block;
    }
}
