.layout-header-catalog {
    animation: fade-in 0.3s ease-in-out;
    transition: $transition;
    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    &__inner {
        position: absolute;
        top: calc(100% - 6px);
        left: 38px;
        display: flex;
        z-index: 9;
        width: calc(100% - 76px);
        background: $cWhite;
        border-radius: 0 0 30px 30px;
        overflow: hidden;

        @include isMobileOrTablet {
            position: fixed;
            top: 64px;
            bottom: 0;
            left: 0;
            z-index: 11;
            width: 100%;
            border-radius: 0;
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9;
        background: rgba($cBlack1, 0.5);

        @include isMobileOrTablet {
            display: none;
        }
    }

    &-aside {
        flex-shrink: 0;
        width: 318px;
        padding: 50px 0;
        background: #F8FBFF;

        @include is768() {
            width: 320px;
            padding: 12px 0;
        }

        @include is360() {
            width: 100%;
            padding: 12px 0;
        }

        &__items {
            padding: 0 8px 0 28px;

            @include isMobileOrTablet {
                padding: 0 0 0 8px;
            }
        }

        &__footer {
            display: flex;
            align-items: center;
            padding: 0 28px;
            margin-top: 40px;
            gap: 16px;

            @include isMobileOrTablet() {
                margin-top: 12px;
            }
        }
    }

    &-main {
        z-index: 2;
        width: 100%;
        padding: 50px 0;
        background: $cWhite;

        @include isMobile {
            display: none;
        }

        &__header {
            display: none;
            padding: 0 12px;

            @include isMobile() {
                display: flex;
                align-items: center;
                margin-bottom: 24px;
                gap: 12px;
            }
        }

        &__back {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px;
        }

        &__name {
            font-size: 16px;
            font-weight: 700;
            line-height: 21px;
        }

        @include isMobileOrTablet {
            padding: 12px 0;
        }

        @include isMobile() {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        &__items {
            width: 100%;
            padding: 0 50px;
            column-count: 3;
            column-gap: 100px;

            @include isMobileOrTablet {
                padding: 0 24px;
                column-count: 1;
            }
        }
    }

    &--main &-main {
        @include isMobile {
            display: block;
        }
    }

    &-category-1 {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        border-radius: 10px;
        text-decoration: none;
        transition: background-color $transition;
        gap: 14px;

        @include isMobileOrTablet() {
            padding: 8px;
            margin-bottom: 8px;
            gap: 8px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:hover, &--active {
            background-color: $cPrimary2;
        }

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            min-width: 50px;
            box-shadow: 0 0.567742px 5.67742px rgba(113, 113, 113, 0.1);
            background-color: $cWhite;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            border: 10px $cWhite solid;
            border-radius: 10px;
            transition: $transition;

            @include isMobileOrTablet() {
                width: 36px;
                height: 36px;
                min-width: 36px;
            }
        }

        &__arrow {
            display: none;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            min-width: 36px;
            box-shadow: 0 0.567742px 5.67742px rgba(113, 113, 113, 0.1);
            background-color: $cWhite;
            border: 10px $cWhite solid;
            border-radius: 10px;
            transition: $transition;

            @include isMobileOrTablet() {
                display: flex;
            }
        }

        &__name {
            display: flex;
            flex: 1;
            align-items: center;
            align-self: stretch;
            color: $cBlack2;
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            transition: color $transition;

            @include isMobileOrTablet() {
                font-size: 13px;
            }
        }

        &:hover &, &--active & {
            &__icon {
                box-shadow: none;
                background-color: $cPrimary2;
                border-color: $cPrimary2;
            }

            &__name {
                color: $cPrimary;
            }
        }
    }

    &-category-2 {
        margin-bottom: 40px;
        break-inside: avoid-column;

        @include isMobileOrTablet {
            margin-bottom: 24px;
        }

        &__name {
            display: table;
            margin-bottom: 14px;
            color: $cBlack2;
            text-decoration: none;
            font-size: 15px;
            font-weight: 500;
            line-height: 18px;
            transition: color $transition;

            &:hover {
                color: $cPrimary;
            }
        }
    }

    &-category-3 {
        display: table;
        color: $cGrayDark;
        text-decoration: none;
        font-size: 14px;
        line-height: 16px;
        transition: color $transition;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &:hover {
            color: $cPrimary;
        }
    }
}
