.layout-header-phone {
    margin-right: 40px;
    .ui-button{
        padding: 0 30px;
    }
}


.layout-header-catalog {
    position: fixed;
    top: 196px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: $cLightBlue;

    &__inner {
        display: flex;
        align-items: stretch;
        height: 100%;
    }

    &-aside {
        width: 286px;
        min-width: 286px;
        padding-top: 24px;
        padding-bottom: 12px;

        &__items {
            height: calc(100% - 120px);
        }

        &__footer {
            padding-left: 45px;
            margin-top: 45px;
        }

        &__link {
            display: block;
            color: $cTypo;
            font-family: $fontSecondary;
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            transition: 0.25s;

            &:hover {
                color: $cGrayPrimary;
            }

            &:not(&:last-child) {
                margin-bottom: 24px;
            }
        }

        .ui-scroll__inner {
            padding-right: 0;
        }
    }

    &-category {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        border-radius: 16px 0 0 16px;
        color: $cTypo;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
        transition: 0.2s;
        gap: 8px;

        &:hover {
            color: $cGreenPrimary;
        }

        &--selected {
            background: $cWhite;
        }

        &__icon {
            width: 24px;
            height: 24px;
            background-position: center;
            background-size: contain;
        }
    }

    &-category-2 {
        margin-bottom: 30px;
        break-inside: avoid-column;

        &__name {
            display: block;
            margin-bottom: 12px;
            color: $cTypo;
            font-size: 16px;
            font-weight: 700;
            line-height: 120%;
            transition: 0.2s;

            &:hover {
                color: $cGreenPrimary;
            }
        }
    }

    &-category-3 {
        display: block;
        color: $cTypo;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;

        &:not(&:last-child) {
            margin-bottom: 10px;
        }
    }

    &-main {
        width: 100%;
        padding: 50px;
        background: $cWhite;

        &__items {
            width: 100%;
            padding: 0 50px;
            column-count: 3;
            column-gap: 100px;
        }
    }
}
