.layout-header-location {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 70px;

    &__name {
        position: relative;
        cursor: pointer;
        color: $cTypo;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
    }

    &-popup {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 100;
        min-width: 255px;
        padding: 16px;
        margin-top: 8px;
        box-shadow: 0 0 20px rgba(74, 74, 74, 0.1);
        background: $cWhite;
        border-radius: 8px;
        color: $cTypo;

        &__title {
            margin-bottom: 24px;
            font-size: 24px;
            font-weight: 700;
            line-height: 110%;
        }

        &__close {
            position: absolute;
            top: 16px;
            right: 16px;
            cursor: pointer;
        }

        &-region {
            &:not(&:last-child) {
                margin-bottom: 16px;
            }

            &__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                cursor: pointer;
            }

            &__name {
                font-size: 16px;
                font-weight: 700;
                line-height: 120%;
            }

            &__cities {
                margin-top: 8px;
            }

            &__city {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                cursor: pointer;
                font-size: 14px;
                font-weight: 500;
                line-height: 18px;

                &:not(&:last-child) {
                    margin-bottom: 8px;
                }
            }
        }
    }
}
