.p-search {
    &__header {
        margin-bottom: 40px;
    }

    &-tabs {
        display: flex;
        gap: 24px;
        align-items: center;
        &__label {
            font-family: $fontSecondary;
            font-size: 24px;
            font-weight: 700;
            line-height: 26px;
            text-align: left;
        }

        &__items {
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }
}
