.layout-header-default {
    font-weight: 300;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-block: 18px;
    height: 87px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background: $cWhite;

    &__logo {
        width: 145px;
        height: 50px;
        margin-right: 97px;
        background-image: url("/assets/images/logo.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }

    &__phone {
        margin-right: 40px;
        font-weight: 400;
        width: 240px;
            font-size: 18px;
    }


    &-actions {
        display: flex;
        align-items: center;
        font-weight: 500;
        .ui-button {
            margin-left: 20px;
        }
        &__info{
            color: $cDarkPrimary;
            font-size: 18px;
            margin-right: 40px;

            .ui-icon{
                margin-left: 12px;
            }
        }
    }




}
