.ui-slider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    &__inner {
        width: 100%;
        padding-left: 20px;
        max-width: 100%;
        position: relative;

    }

    &__line {
        position: relative;
        padding-right:20px;
        margin: 8px 0 8px 0;
        &--gray{
            border-radius: 2px;
            background-color: $cGraySecondary;
            width: 100%;
            display: flex;
        }
        .swiper-slide{
            overflow: hidden;
            border-radius: 2px;
            flex-grow: 1;
            width: auto;
            display: inline-block;
        }
    }

    .swiper-wrapper {
        align-items: stretch;
    }

    .swiper-slide {
        .c-catalog-product {
            height: 100%;
        }
    }
}
