.ui-slider {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    &-container {
        position: relative;
        width: 100%;
        max-width: 100%;
        display: grid; //не удалять, хз, без этого слайдер бесоёбит
    }

    &__inner {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }

    .swiper-wrapper {
        align-items: stretch;
    }

    .swiper-slide {
        .c-catalog-product {
            height: 100%;
        }
    }

    &--per-view-auto &-slide {
        width: auto;
    }
}

