.p-blog-author {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    &__profile {
        display: flex;
        &__picture {
            width: 120px;
            height: 120px;
            border-radius: 60px;
        }
        &__descr {
            margin-left: 20px;
            h5{
                margin: 28px 0 10px 0;
                font-size: 24px;
                font-weight: 800;
                color: $cDarkPrimary
            }
            p{
                margin: 0;
                color: $cDarkSecondary;
                font-weight: 400;
                font-size: 16px;
            }
        }
    }
    &__publications{
        text-align: end;
        h5{
            margin: 28px 0 10px 0;
            font-size: 24px;
            font-weight: 800;
            color: $cGreenPrimary
        }
        .ui-link{
            text-decoration: underline;
        }
    }
}
