.ui-page-header{
    color: $cWhite;
    background-image: url("/assets/images/header/header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: start;
    padding-bottom: 23px;
    font-weight: 300;
    padding-top: 36px;

    &__wrap{
        display: flex;
        justify-content: space-between;
        &:last-child{
            margin-bottom: 0;
        }
    }

    &__back{
        color: $cWhite;
        margin-bottom: 24px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;
        display: flex;
        gap: 8px;
        align-items: center;
    }

    &__title {
        h1 {
            display: inline-block;
            font-style: normal;
            font-weight: 800;
            font-size: 48px;
            line-height: 58px;
            margin: 0 20px 20px 0;
        }
    }

    &__subtitle{
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 20px;
    }


}

