.ui-page-header {
    margin-bottom: 40px;
    display: flex;
    align-items: flex-end;

    &__inner {

    }

    &__title {
        display: flex;
        align-items: center;
        width: 100%;
        color: $cTypo;
        font-family: $fontSecondary;
        font-size: 40px;
        font-weight: 700;
        line-height: 120%;
    }

    &__subtitle {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 8px;
        color: $cGrayPrimary;
        max-width: 640px;
    }

    &__aside {
        margin-left: auto;
    }
}
