.ui-page-header{
    color: white;
    background-image: url("/assets/images/header/header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: start;
    padding-bottom: 40px;
    font-weight: 300;

    &__wrap{
        display: flex;
        justify-content: space-between;
    }

    &__title {
        h1 {
            display: inline-block;
            font-style: normal;
            font-weight: 800;
            font-size: 48px;
            line-height: 58px;
            margin: 0 20px 20px 0;
        }
        &--green{
            color: $cGreenPrimary;
        }
    }


    &__properties {
        font-size: 12px;
        font-weight: 400;
        display: flex;
        align-items: center;

        &__text {
            margin-right: 68px;
            font-size: 14px;
            font-weight: 300;
        }

        &__item {
            display: flex;
            align-items: center;
        }

        .ui-icon {
            bottom: -50%;
            margin-right: 8px;
            margin-left: 32px;
        }
    }
}

