.p-search {
    &__head {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 40px;

        @include isMobile {
            display: block;
        }

        @include isTablet {
            margin-bottom: 30px;
        }
    }

    &__title {
        @include h3;
        margin: 0;

        @include isMobile {
            margin: 0 0 24px;
        }
    }

    &__tabs {
        @include isMobile {
            width: calc(100% + 20px);
            height: 34px;
            margin: 0 -10px;
            padding: 0 10px;
            overflow: hidden;
        }

        @include isTablet {
            padding: 14px 0;
        }

        @include is1024() {
            padding: 10px 0;
        }
    }

    &__tabs-inner {
        @include isMobile {
            padding-bottom: 10px;
            overflow-x: auto;
        }
    }

    .ui-tabs {
        gap: 16px;
    }
}
