$cBlack1: #000000;
$cBlack2: #252525;
$cWhite: #FFFFFF;
$cWhite2: #FFFEFE;
$cWhiteGray: #FAFAFA;
$cPrimary: #5DA14C;
$cPrimaryGradient: linear-gradient(140.22deg, #BFC754 0%, #5DA14C 97.06%);
$cPrimary2: #E3F5DE;
$cGrayDark: #494949;
$cGrayText: #707070;
$cLightGray: #DADADA;
$cGrayTextLight: #C4C4C4;
$cGrayMedium: #5A5A5A;
$cGray1: #767676;
$cGray2: #434343;
$cGray3: #EDEDED;
$cGray4: #B7B7B7;
$cGray5: #ECECEC;
$cGray6: #797979;
$cGray7: #8D8D8D;
$cGray8: #DEDEDE;
$cGray9: #FBFBFB;
$cGrayBackground: #F8F8F8;
$cRedLight: #FDF5F3;
$cSecondary: #E03B6F;
$cSecondaryGradient: linear-gradient(140.22deg, #F29C5E 0%, #E03B6F 97.06%);
$cLayoutBackground: #F9FAFC;
$cYellowGreen: #BFC754;
