$cWhite: #FFFFFF;

$cGrayPrimary: #C3D2D9;
$cGraySecondary: #F0F1F2;

$cLightBlue: #EEF7FF;

$cDarkPrimary: #20333B;
$cDarkSecondary: #7B8A91;

$cGreenPrimary: #58CF8B;
$cGreenSecondary: #5CE295;

$cOrangePrimary: #FC8720;


$cTypo: #444449;
$cBorder: #CED8F1;
$cRedPrimary: #E31E24;

