$cWhite: #FFFFFF;

$cBlackAlike: #444449;
$cBorder: #A9B9DE;

$cLightBlue: #EEF7FF;

$cGrayPrimary: #687CAB;
$cGraySecondary: #A9B9DE;

$cGreenPrimary: #00A3B3;
$cGreenSecondary: #007C81;

$cRedPrimary: #E31E24;

