@mixin media($nWidthMin: $w360, $nWidthMax: $wMax) {
    @media (min-width: #{$nWidthMin}) and (max-width: $nWidthMax - 1) {
        @content;
    }
}

/// mobile + tablet
@mixin isMobileOrTablet() {
    @media (min-width: $w360) and (max-width: $w1024 - 1) {
        @content;
    }
}

/// 0 - 768
@mixin is360($nWidthMax: $w768) {
    @media (min-width: $w360) and (max-width: $nWidthMax - 1) {
        @content;
    }
}
@mixin isMobile() {
    @media (min-width: $w360) and (max-width: $w768 - 1) {
        @content;
    }
}

/// 768 - 1024
@mixin is768($nWidthMax: $w1024) {
    @media (min-width: $w768) and (max-width: $nWidthMax - 1) {
        @content;
    }
}
@mixin isTablet() {
    @media (min-width: $w768) and (max-width: $w1024 - 1) {
        @content;
    }
}

/// 1024 - 1366
@mixin is1024($nWidthMax: $w1366) {
    @media (min-width: $w1024) and (max-width: $nWidthMax - 1) {
        @content;
    }
}

/// 1366+
@mixin is1366($nWidthMax: $wMax) {
    @media (min-width: $w1366) and (max-width: $nWidthMax - 1) {
        @content;
    }
}

@mixin iconColor($color) {
    @include iconStroke($color);
    @include iconFill($color);
}

@mixin iconStroke($color) {
    .ui-icon {
        path[stroke] {
            stroke: $color;
        }
    }
}

@mixin iconFill($color) {
    .ui-icon {
        path[fill] {
            fill: $color;
        }
    }
}

@mixin link($color) {
    color: $color;
    text-decoration: none;
    font-weight: 500;
}

@mixin modifiers($firstModifier, $otherModifiers...) {
    $result: '';
    @for $i from 0 to length($otherModifiers) {
        $modifier: nth($otherModifiers, $i + 1);
        $result: "#{$result}#{&}--#{$modifier}";
    }
    &--#{$firstModifier}#{$result} {
        @content;
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }
    &:-moz-placeholder {
        @content
    }
    &::-moz-placeholder {
        @content
    }
    &:-ms-input-placeholder {
        @content
    }
}

@mixin h1 {
    font-family: $fontSecondary;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;

    @include isMobile {
        font-size: 20px;
        line-height: 100%;
    }

    @include isTablet {
        font-size: 24px;
        line-height: 110%;
    }
}

@mixin h2 {
    font-family: $fontSecondary;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
}

@mixin h3 {
    font-family: $fontSecondary;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
}

@mixin h4 {
    font-family: $fontSecondary;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;

    @include isMobileOrTablet {
        font-size: 16px;
        line-height: 120%;
    }
}

@mixin h5 {
    font-family: $fontSecondary;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
}

@mixin text {
    font-family: $fontPrimary;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    @include isMobile {
        font-size: 14px;
        line-height: 18px;
    }
}

@mixin text-big {
    font-family: $fontPrimary;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    @include isMobile {
        font-size: 14px;
        line-height: 18px;
    }
}

@mixin text-medium {
    font-family: $fontPrimary;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

@mixin text-label {
    font-family: $fontPrimary;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

@mixin underlineWave {
    $self: &;
    @include text-medium;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: $cBlackText;
    transition: color $transition;
    cursor: pointer;

    span {
        position: relative;

        &::before {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 5px;
            background: url('/assets/images/ui/wave.svg') left repeat-x;
            transition: opacity $transition;
            content: '';
        }
    }

    &:hover,
    .ui-link:hover & {
        color: $cPrimary;

        .ui-icon[data-name="chevronRightBold"] {
            path[fill] {
                fill: $cPrimary;
            }
        }
    }

    &--line-small {
        span {
            &::before {
                background-image: url('/assets/images/ui/wave-sm.svg');
            }

            &::after {
                background-image: url('/assets/images/ui/wave-sm-hover.svg');
            }
        }
    }

    &--primary {
        color: $cPrimary;

        span {
            &::after {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 5px;
                background: url('/assets/images/ui/wave-hover.svg') left repeat-x;
                opacity: 0;
                transition: opacity $transition;
                content: '';
            }
        }

        &:hover,
        .ui-link:hover & {
            color: $cPrimaryDark;

            span::before {
                opacity: 0;
            }

            span::after {
                opacity: 1;
            }
        }
    }

    &--primary#{ $self }--line-small {
        span {
            &::after {
                background-image: url('/assets/images/ui/wave-sm-hover.svg');
            }
        }
    }

    &--small {
        @include text;
    }

    &--large {
        @include text-big;

        @include isTablet {
            font-size: 16px;
            line-height: 19px;
        }
    }

    .ui-icon {
        margin-top: 3px;
    }
}

@mixin tabsPrimary {
    gap: 0;
    background: $cPrimaryLight;
    border-radius: 24px;

    &-item {
        @include text-medium;
        justify-content: center;
        width: 50%;
        padding: 8px;
        border: 0;
        color: $cGrayDark;

        @include isMobile {
            padding: 6px;
        }

        @include isTablet {
            font-size: 14px;
            line-height: 18px;
        }

        &--active {
            background: $cPrimary;
        }

        &:hover:not(&--active) {
            background: $cPrimaryLight;
        }
    }
}
