$transition: 0.25s;

$zIndexHeader: 800;
$zIndexModal: 1000;

$w360: 0;
$w768: 768px;
$w1024: 1024px;
$w1366: 1366px;
$wMax: 99999px;

$hControl: 48px;
$hControlMobile: 30px;

$gapBlock: 24px;
$gapItem: 14px;

$fontPrimary: SFUIDisplay, sans-serif;
