.layout-to-top {
    position: fixed;
    right: 40px;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background: $cPrimary;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0;
    transition: 0.25s;
    pointer-events: none;
    z-index: 20;

    @include isMobileOrTablet() {
        bottom: 120px;
        right: 8px;
    }

    &:hover {
        background: $cPrimaryDark;
    }

    &--active {
        opacity: 1;
        pointer-events: auto;
    }
}
