.p-checkout-store {
    &:not(&:last-child) {
        margin-bottom: 16px;
    }

    &__inner {
        position: relative;
        z-index: 2;
        padding: 20px;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
        background: $cWhite;
        border: 1px solid $cWhite;
        border-radius: 8px;
        transition: 0.25s;
    }

    &--selected &__inner {
        background: $cPrimary2;
        border: 1px solid $cPrimary;
    }

    &__name {
        margin-bottom: 8px;
        color: #000000;
        font-size: 18px;
        font-weight: 500;
        line-height: 140%;
    }

    &__brand {
        margin-bottom: 4px;
        color: #707070;
        font-size: 16px;
        line-height: 120%;
        white-space: pre-line;
    }

    &__description {
        margin-bottom: 16px;
        color: #707070;
        font-size: 16px;
        line-height: 120%;
        white-space: pre-line;
    }

    &__price {
        margin-bottom: 5px;
        color: $cSecondary;
        font-size: 17px;
        font-weight: 700;
        line-height: 120%;
    }

    &__availability {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: $cBlackAlike;
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
        gap: 10px;

        i {
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 18px;
            height: 18px;
            background: $cPrimary;
            border-radius: 4px;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include isMobile {
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;

            .ui-button {
                width: 100%;
            }
        }
    }

    &__offers {
        position: relative;
        z-index: 1;
        padding: 30px 20px 20px;
        margin-top: -10px;
        box-shadow: 0 4px 40px rgba(0, 0, 0, 0.05);
        background: $cWhite;
        border-radius: 0 0 8px 8px;
    }

    &-offer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;

        @include isMobile () {
            gap: 12px;
            flex-direction: column;
            align-items: flex-start;
        }

        &:not(&:last-child) {
            margin-bottom: 16px;
        }

        &__name {
            margin-bottom: 6px;
            color: $cBlackAlike;
            font-size: 16px;
            font-weight: 500;
            line-height: 140%;
        }

        &__description {
            color: $cGrayText;
            font-size: 14px;
            font-weight: 500;
            line-height: 100%;
        }

        &__total {
            color: $cSecondary;
            font-size: 17px;
            font-weight: 700;
            line-height: 120%;
        }
    }
}
