.p-home-discount-cards {
    position: relative;
    padding: 0 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;

    @include is768() {
        padding: 0 86px;
    }

    @include is360() {
        padding: 42px 24px;
        border-radius: 30px;
    }

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-position: center right;
        background-repeat: no-repeat;
        background-size: auto 100%;

        @include is768() {
            background-position: center right -60px;
        }

        @include is360() {
            display: none;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        height: 400px;

        @include is360() {
            height: auto;
        }

        @include is768() {
            height: 304px;
        }
    }

    &__title {
        max-width: 50%;
        color: $cWhite;
        font-size: 48px;
        font-weight: 500;
        line-height: 120%;
        white-space: pre-line;

        @include is768() {
            font-size: 36px;
        }

        @include is360() {
            max-width: 100%;
            font-size: 32px;
            line-height: 120%;
        }
    }
}
