.ui-page-content {
    position: relative;
    width: 100%;
    background: $cWhite;
    box-shadow: 0 0 20px rgba(74, 74, 74, 0.1);
    border-radius: 20px;
    padding: 24px 16px;
    margin-bottom: 70px;
}
