.visa-manager{
    min-width: 320px;
    padding: 32px 32px 28px 32px;
    background-color: white;
    font-weight: 300;
    font-size: 16px;
    color: $cDarkPrimary;
    border-radius: 5px;
    margin-bottom: 40px;
    p{
        margin: 0;
    }

    &-header {
        text-align: center;
        border-bottom: 1px solid rgba($cGrayPrimary, 0.5);
        padding-bottom: 20px;
        &__title{
            font-weight: 800;
            font-size: 24px;
            margin: 0 0 8px 0;
            letter-spacing: 0.02em;
        }
        &__subtitle{
            font-size: 14px;
            font-weight: 300;
            width: 250px;
        }
        &__image{
            width: 150px;
            height: 150px;
            margin: 0 auto 28px auto;
            border-radius: 75px;
            background-image: url('/assets/images/typical/image 117.png');
        }
    }
    &-body{
        padding-top: 20px;
        padding-bottom: 8px;
        border-bottom: 1px solid rgba($cGrayPrimary, 0.5);

        &__contact{
            margin-bottom: 18px;
            font-size: 12px;
            font-weight: 400;
            display: flex;
            justify-content: start;

            .ui-icon{
                margin-right: 10px;
            }
        }


        &__confirm{
            height: 50px;
            width: 100%;
            margin-top: 8px;
            margin-bottom: 28px;
        }

    }
    &__medias{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;

    }

}
