.p-licenses {
    &-item {
        @include isMobile {
            padding: 12px;
        }

        @include isTablet {
            padding: 24px;
        }

        &__title {
            margin: 0 0 24px;
            color: $cTypo;
            font-family: $fontSecondary;
            font-size: 24px;
            font-weight: 700;
            line-height: 110%;

            @include isMobile {
                margin-bottom: 12px;
                font-size: 16px;
                line-height: 120%;
            }

            @include isTablet {
                margin-bottom: 16px;
                font-size: 20px;
                line-height: 100%;
            }
        }

        &__text {
            margin-bottom: 24px;
            color: $cTypo;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;

            @include isMobile {
                margin-bottom: 12px;
                font-size: 12px;
                line-height: 16px;
            }

            @include isTablet {
                margin-bottom: 16px;
            }

            p {
                margin: 0 0 16px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &-document {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;

        @include isMobile {
            align-items: flex-start;
        }

        &:not(:last-child) {
            margin-bottom: 24px;
        }

        &__link {
            position: relative;
            color: $cGreenPrimary;
            font-size: 16px;
            font-weight: 400;
            line-height: 120%;
        }

        &__name {
            margin: 0;
            color: $cTypo;

            @include isMobile {
                flex-shrink: 1;
                margin-right: 15px;
                font-size: 14px;
                line-height: 18px;
            }
        }

        &__info {
            display: flex;
            align-items: center;
            margin-left: auto;
            color: $cGrayPrimary;
        }

        &__type {
            width: 40px;
            margin-right: 16px;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
        }

        &__size {
            width: 60px;
            margin-right: 44px;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;

            @include isMobile {
                margin-right: 10px;
            }
        }
    }
}
