.ui-icon {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    * {
        transition: $transition;
    }

    path[fill] {
        fill: var(--icon-color, transparent);
    }

    path[stroke] {
        stroke: var(--icon-color, transparent);
    }
}
