.c-cart-item {
    display: flex;
    align-items: flex-start;

    &:not(&:last-child) {
        padding-bottom: 16px;
        border-bottom: 1px solid #EFEFEF;
    }

    &:not(&:first-child) {
        padding-top: 16px;
    }

    &__image {
        width: 76px;
        height: 76px;
        margin-right: 16px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__name {
        display: block;
        margin-bottom: 8px;
        color: $cTypo;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
        transition: 0.2s;

        &:hover {
            color: $cGreenPrimary;
        }
    }

    &__main {
        flex: 1;
    }

    &__quantity {
        margin-left: 60px;
        width: 175px;

        .ui-quantity {
            margin-bottom: 10px;
        }
    }

    &__price-offer {
        color: $cGraySecondary;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 10px;
        text-decoration: line-through;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__action {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: $cGrayPrimary;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        gap: 4px;

        &:hover {
            color: $cTypo;
            @include iconColor($cTypo);
        }
    }

    &__price {
        display: flex;
        justify-content: flex-end;
        width: 200px;
        margin-left: 60px;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__badge {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 100%;
    }
}
