.typical-page {
    padding-top: 100px;


    &-article {
        display: flex;
        flex-wrap: nowrap;
        gap: 80px;
        margin-bottom: 55px;

        &__column {
            min-width: 560px;

            &_img {
                display: inline-block;
                max-height: 400px;
                width: 560px;
            }

            p {
                font-weight: 300;
                font-size: 14px;
                line-height: 1.8;
            }


        }
    }

    &-quote {
        display: flex;
        gap: 57px;
        margin-bottom: 80px;

        &__img{
            background-image: url("./assets/quote.png");
            min-width: 188px;
            max-height: 154px;
            background-size: cover;
        }

        p {
            font-weight: 400;
            font-size: 24px;
            line-height: 1.8;
            margin: 0;
        }
    }

    h1 {
        display: block;
        font-size: 36px;
        font-weight: 800;
        max-width: 640px;
        letter-spacing: 0.02em;
        margin: 0 0 40px 0;
    }


}



