.p-home-articles {
    .ui-article-tile {
        &__image {
            margin-bottom: 8px;
        }
    }
}

.p-home-articles-slider {
    position: relative;

    @include isMobile {
        width: calc(100% + #{$wrapPaddingXS} * 2);
        margin: 0 -#{$wrapPaddingXS};
    }

    .ui-slider {
        .swiper {
            @include isMobile {
                padding: 0 2px;
            }
        }
    }

    .swiper-slide {
        @include isMobile {
            width: auto;
        }
    }

    &-slide {
        @include isMobile {
            width: 220px;
            padding: 0 8px;
        }
    }
}
