.p-stores {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;

        @include isMobile {
            align-items: flex-start;
            width: calc(100% + 20px);
            margin: 0 -10px 16px;
            height: 24px;
            overflow: hidden;
        }
    }

    &__filter {
        @include isMobile {
            padding: 0 10px 10px;
            overflow-x: auto;
        }
    }

    &-tabs {
        margin-bottom: 16px;
    }

    &__results {
        color: $cGrayDark;
        white-space: nowrap;

        @include isMobileOrTablet {
            display: none;
        }
    }

    &-map {
        position: relative;
        border-radius: 24px;
        overflow: hidden;

        @include isTablet {
            margin-top: 50px;
        }
    }

    &-panel {
        &__items {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .ui-scroll {
            width: calc(100% + 20px);
            margin: -10px 0 0 -20px;

            > div:not([class]) {
                padding: 10px 0 10px 20px;
            }

            &__track {
                top: 24px;
                bottom: 16px;
                background: none;
            }

            &__thumb {
                background: $cGrayLight;
            }
        }
    }

    &-item {
        padding: 16px 24px;
        box-shadow: 0 0 20px rgba(74, 74, 74, 0.1);
        background: $cWhite;
        border-radius: 24px;
        text-decoration: none;

        @include isMobileOrTablet {
            padding: 16px;
        }

        &__top {
            margin-bottom: 12px;
            padding-bottom: 12px;
            border-bottom: 1px solid $cGrayLight;

            @include isTablet {
                align-items: center;
            }
        }

        &__badge {
            @include text-label;
            display: flex;
            align-items: center;
            width: fit-content;
            gap: 4px;
            margin-bottom: 14px;
            padding: 2px 8px;
            background: $cGrayDark;
            box-shadow: 0 0 20px rgba(74, 74, 74, 0.1);
            border-radius: 50px;
            color: $cWhite;
        }

        &__name {
            @include h2;
            margin-bottom: 12px;
            color: $cBlackAlike;
            transition: $transition;

            @include isMobile {
                font-size: 16px;
                line-height: 120%;
            }

            @include isTablet {
                margin-bottom: 0;
                font-size: 20px;
                line-height: 100%;
            }
        }

        &__text {
            @include text-label;
            margin-bottom: 4px;
            color: $cBlackAlike;

            @include isTablet {
                margin-top: 4px;

            }
        }

        &__address {
            @include text-medium;
            color: $cPrimaryDark;

            @include isMobile {
                font-weight: 300;
            }
        }

        &__worktime {
            @include text;
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;
            gap: 4px;
            margin-bottom: 20px;
            color: $cGrayDark;
            white-space: break-spaces;

            @include isMobile {
                margin-bottom: 12px;
                font-size: 12px;
                line-height: 16px;
            }

            @include isTablet {
                margin-bottom: 0;
            }
        }

        &__phone {
            @include text-medium;
            display: block;
            width: fit-content;
            margin-bottom: 12px;
            color: $cPrimary;
            text-decoration: none;
            transition: $transition;

            @include isTablet {
                margin-bottom: 16px;
            }

            &:hover {
                color: $cPrimaryDark;
            }
        }

        &__buttons {
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }
}
