.p-credit {
    background-color: $cGraySecondary;

    &__title{
        color: $cDarkPrimary;
        font-size: 36px;
        font-weight: 800;
        line-height: 43px;
        letter-spacing: 0.02em;
        text-align: left;
        margin: 48px 0 32px 0;
    }

    &--flex {
        padding-top: 36px !important;
        padding-bottom: 100px !important;
    }

    .ui-typography {
        p {
            margin: 0 0 16px 0;
            font-weight: 300;
            font-size: 16px;
            line-height: 25px;
        }

    }
}
