.ui-page-breadcrumbs {
    margin-bottom: 24px;
    padding-top: 36px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    @include isMobileOrTablet {
        margin-bottom: 16px;
    }

    @include isMobile {
        line-height: 18px;
    }

    &__item {
        display: inline;
        color: $cWhite;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__current {
        display: inline;
        color: $cWhite;
    }

    &__arrow {
        display: inline-block;
        margin: 0 4px;
        color: $cGrayPrimary;
        font-size: 14px;
        line-height: 0;
    }
}
