.p-cart-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 16px 30px 16px 12px;
    box-shadow: 0 4px 30px rgba(111, 111, 111, 0.08);
    background: $cWhite;
    border-radius: 12px;

    @include isMobile() {
        flex-direction: column;
        gap: 12px;
    }

    &:not(:last-child) {
        margin-bottom: 16px;
    }

    &__image {
        width: 172px;
        height: 126px;
        margin-right: 16px;
        background: center no-repeat;
        background-size: contain;
        border: 16px transparent solid;

        @include isMobile() {
            margin: auto;
        }
    }

    &__checkbox {
        position: absolute;
        top: 13px;
        left: 13px;
        z-index: 1;
    }

    &__inner {
        display: flex;
        flex: 1;
        justify-content: space-between;
        padding-top: 8px;

        @include is360($w1366) {
            flex-wrap: wrap;
            gap: 12px;
        }
    }

    &__info {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-right: 65px;

        @include is768($w1366) {
            flex: none;
            width: 100%;
            margin-right: 0;
        }
    }

    &__name {
        margin-bottom: 14px;
        color: $cBlack2;
        text-decoration: none;
        font-size: 19px;
        font-weight: 500;
        line-height: 140%;
    }

    &__actions {
        display: flex;
        align-items: center;
        margin-top: auto;
    }

    &__button {
        margin-right: 16px;
        cursor: pointer;
        user-select: none;
        color: $cGrayDark;
        font-size: 16px;
        line-height: 120%;
    }

    &-price {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        min-width: 180px;
        padding-left: 16px;
        text-align: right;
        white-space: nowrap;

        @include is360() {
            width: 100%;
            min-width: 0;
            padding-left: 0;
            text-align: center;
        }

        &__current {
            width: 100%;
            color: $cSecondary;
            font-size: 20px;
            font-weight: 700;
            line-height: 120%;

            span {
                font-weight: 800;
            }
        }

        &__old {
            position: relative;
            margin-top: 4px;
            color: $cGray1;
            font-size: 20px;
            font-weight: 600;
            line-height: 120%;

            &::after {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 3px;
                margin-top: -2px;
                background-color: $cSecondary;
                content: '';
            }
        }
    }

    &-quantity {
        @include isMobile() {
            margin: auto;
        }

        &__control {
            width: 133px;
            margin-bottom: 14px;
        }

        &__description {
            color: $cGray2;
            font-size: 16px;
            font-weight: 500;
            line-height: 120%;

            span {
                font-weight: 700;
            }
        }
    }
}
