.ui-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    gap: 20px;

    &__page {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: $cTypo 1px solid;
        border-radius: 4px;
        cursor: pointer;
        color: $cTypo;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        transition: 0.2s;

        &--aside {
            border: 1px solid #BCBCBC;
        }

        &--active {
            background: $cGreenPrimary;
            border: $cGreenPrimary 1px solid;
            border-radius: 6px 2px;
            color: $cWhite;
        }

        &:hover {
            border: $cGreenPrimary 1px solid;
            background: $cGreenPrimary;
        }
    }

    &-more {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 76px;
        height: 76px;
        margin: 0 auto;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        background: $cWhite;
        border-radius: 100%;
        cursor: pointer;
        color: $cGreenPrimary;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;
        line-height: 18px;
    }
}
