.ui-pages-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    gap: 20px;

    &__page {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: $cBorder 1px solid;
        border-radius: 100%;
        cursor: pointer;
        color: $cTypo;
        font-size: 14px;
        line-height: 18px;
        transition: 0.2s;

        &--active {
            background: $cBorder;
        }

        &:hover {
            border: $cTypo 1px solid;
        }
    }

    &-aside {
        display: flex;
        align-items: center;
        padding: 10px 0;
        cursor: pointer;
        color: $cGreenPrimary;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        line-height: 18px;
        transition: 0.2s;
        gap: 4px;

        @include iconColor($cGreenPrimary);

        &:hover {
            color: $cGreenSecondary;
            @include iconColor($cGreenSecondary);
        }
    }
}
