.c-auth-modal {
    &__form {
        display: flex;
        align-items: flex-end;
        gap: 9px;

        @include isMobileOrTablet() {
            flex-direction: column;
            align-items: stretch;
        }
    }
}
