.p-catalog-by-name {
    &__items {
        padding-right: 80px;
        column-count: 3;
        column-gap: 40px;

        @include isMobile {
            padding-right: 40px;
            column-count: 1;
        }

        @include media($w768, $w1366) {
            column-count: 2;
        }

        @include isTablet {
            padding: 0;
            column-gap: 10px;
        }
    }

    &__item {
        display: table;
        margin-bottom: 14px;
        font-size: 16px;
        line-height: 19px;
        color: $cGrayDark;
        break-inside: avoid;
        text-decoration: none;
        transition: color $transition;

        &:hover {
            color: $cPrimary;
        }
    }

    &-letters {
        @include isMobile() {
            width: 100%;
            padding: 18px 10px 6px;
            background: $cWhite;
            box-shadow: 0 4px 60px rgba(0, 0, 0, 0.08);
            border-radius: 20px;
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 90px;
            background-color: $cWhite;
            box-shadow: 0 4px 12px rgba(57, 57, 57, 0.1);
            border-radius: 20px;
            font-weight: 500;
            font-size: 30px;
            line-height: 100%;
            color: $cBlack1;
            transition: color $transition, background-color $transition;
            cursor: pointer;

            @include isMobile {
                height: 52px;
                border-radius: 16px;
                font-size: 20px;
            }

            @include media($w768, $w1366) {
                height: 84px;
                font-size: 24px;
            }

            &:hover {
                background-color: $cPrimary2;
                color: $cPrimary;
            }

            &--active {
                background-color: $cPrimary2;
                color: $cPrimary;
            }
        }
    }
}

