.p-catalog {
    &__categories {
        column-count: 2;
    }

    &__category {
        display: block;
        margin-bottom: 16px;
        color: $cTypo;
        font-size: 24px;
        font-weight: 500;
        line-height: 26px;
        width: 50%;
        transition: 0.2s;

        &:hover {
            color: $cGreenPrimary;
        }
    }
}
