import { observer } from "mobx-react";
import { GetServerSideProps, NextPage } from 'next'
import Head from 'next/head'

import { Template } from "shared/layout";
import { ReturnType } from "shared/types";
import { getApplicationData } from "shared/server";
import { UiBoundary, UiWrap } from "shared/uikit";
import { BootstrapModule } from "shared/modules";

import './index.scss';

type PropsType = {
    application: ReturnType<typeof getApplicationData>
}

const {{pascalCase name}}Client: NextPage<PropsType> = observer(({ application }) => {
    BootstrapModule.application(application);

    return (
        <Template>
            <Head>
                <title>{{name}}</title>
            </Head>
            <UiWrap>
                <UiBoundary isError onAction={() => {}}/>
            </UiWrap>
        </Template>
    )
});

export const getServerSideProps: GetServerSideProps<PropsType> = async (context) => {
    return {
        props: {
            application: await getApplicationData(),
        },
    }
}

export default {{pascalCase name}}Client;
