.layout-footer-subscription {
    padding: 40px 0;
    border-bottom: 1px solid $cGray5;

    @include is360() {
        padding: 24px 14px;
    }

    &__inner {
        display: flex;
        align-items: flex-start;
        gap: 30px;

        @include is360() {
            flex-direction: column;
            gap: 16px;
        }
    }

    &__info {
        display: flex;
        align-items: flex-start;
        max-width: 48%;

        @include is360() {
            width: 100%;
            max-width: 100%;
        }
    }

    &__image {
        flex-shrink: 0;
        width: 102px;
        height: 102px;
        margin-right: 30px;
        background: center no-repeat;
        background-size: contain;

        @include isMobile() {
            display: none;
        }
    }

    &__title {
        margin: 0 0 8px;
        color: $cBlack1;
        font-size: 30px;
        font-weight: 700;
        line-height: 120%;

        @include is360() {
            font-size: 22px;
        }

        @include is768() {
            font-size: 20px;
        }
    }

    &__text {
        margin: 0;
        color: $cGrayDark;
        font-size: 20px;
        line-height: 140%;

        @include isMobileOrTablet() {
            font-size: 14px;
        }
    }

    &-form {
        flex: 1;

        @include is360() {
            width: 100%;
        }

        &__inner {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
            gap: 20px;

            @include isMobileOrTablet() {
                flex-direction: column;
                align-items: stretch;
                gap: 12px;
            }
        }

        .ui-form-control {
            flex: 1;
        }

        &__control {
            width: 100%;
            height: $hControl;
            padding: 11px 27px;
            background: $cWhite;
            border: 1px solid $cGray3;
            border-radius: 44px;
            outline: none;
            color: $cBlack1;
            font-size: 14px;
            line-height: 120%;
            transition: border-color $transition;

            @include placeholder {
                color: $cGray4;
                font-size: 14px;
                line-height: 120%;
            }

            @include isMobileOrTablet() {
                height: $hControlMobile;
            }

            &:hover {
                border-color: $cGrayDark;
            }

            &:focus {
                border-color: $cGrayDark;
            }
        }
    }
}
