.p-checkout {
    &-aside {
        width: 100%;

        &__inner {
            position: sticky;
            top: 98px;
            flex-shrink: 0;
            width: 100%;
        }
    }

    &__total {
        margin: 22px 0 24px;
        color: $cBlackAlike;
        font-size: 20px;
        line-height: 120%;

        @include is360() {
            margin: 16px 0;
        }

        span {
            color: $cSecondary;
            font-weight: 700;
        }
    }
}
