.layout-header-menu-secondary {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 16px;

    &__item {
        display: flex;
        align-items: center;
        height: 26px;
        padding: 0 8px;
        background: $cGray1;
        border-radius: 600px;
        color: $cWhite;
        text-decoration: none;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        transition: 0.2s;

        &:hover {
            background: $cGray2;
            color: $cGray1;
        }
    }
}
