.p-profile {
    &-user-address {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 64px;
        padding: 0 24px;
        margin-bottom: 24px;
        background: $cLightBlue;
        border-radius: 24px;

        &__default {
            position: absolute;
            top: -10px;
            left: 24px;
            display: none;
            height: 20px;
            padding: 0 8px;
            background: $cGrayPrimary;
            border-radius: 24px;
            color: $cWhite;
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
        }

        &--selected &__default {
            display: block;
        }

        &__radio {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            background: $cWhite;
            border: 1.5px solid $cGreenPrimary;
            border-radius: 100%;
            cursor: pointer;

            &::after {
                display: block;
                width: 10px;
                height: 10px;
                background: $cWhite;
                border-radius: 100%;
                content: '';
            }
        }

        &__name {
            cursor: pointer;
            user-select: none;
            color: $cTypo;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
        }

        &--selected &__radio::after {
            background: $cGreenPrimary;
        }

        &__actions {
            margin-left: auto;
        }
    }
}
