.p-home-promo-banners {
    width: calc(100% + 70px);
    margin: 0 -35px;

    @include isMobile {
        width: calc(100% + #{$wrapPaddingXS});
        margin: 0 -#{$wrapPaddingXS} 0 0;
    }

    @include is768($w1366) {
        width: calc(100% + #{$wrapPadding});
        margin: 0 -#{$wrapPadding} 0 0;
    }

    .swiper-slide {
        height: auto;
    }
}

.p-home-promo-banners-slide {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background: $cWhite;

    picture {
        width: 100%;
    }

    img {
        display: block;
        width: 100%;
        max-width: 100%;
    }
}
