.p-news-detail {
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 24px;
        padding: 7px 8px;

        @include is360() {
            order: 1;
            margin: 0 0 8px;
        }
    }

    &__image {
        display: inline-block;
        float: left;
        width: 310px;
        margin: 0 24px 24px 0;
        border-radius: 24px;

        @include isMobile {
            display: block;
            width: 100%;
            margin: 0 0 8px;
        }

        @include isTablet {
            width: 244px;
            height: 300px;
        }

        img {
            display: block;
            width: 100%;
        }
    }

    &-aside {
        @include is360($w1366) {
            display: none;
        }

        &__title {
            @include h3;
            margin: 0 0 24px;
            color: $cBlack1;
        }

        .ui-news-tile {
            &:nth-child(n + 3) {
                display: none;
            }
        }
    }
}

.p-news-detail-all {
    display: none;

    @include media(0, $w1366) {
        display: block;
    }

    .ui-news-tile {
        &:nth-child(n + 4) {
            @include isTablet {
                display: none;
            }
        }
    }
}

.p-news-slider {
    position: relative;

    @include isMobile {
        width: calc(100% + #{$wrapPaddingXS} * 2);
        margin: 0 -#{$wrapPaddingXS};
    }

    .ui-slider {
        .swiper {
            @include isMobile {
                padding: 0 2px;
            }
        }
    }

    .swiper-slide {
        @include isMobile {
            width: auto;
        }
    }

    &-slide {
        @include isMobile {
            width: 203px;
            padding: 0 8px;
        }
    }
}

