.profile-address {
    position: relative;
    padding: 20px 12px 32px 20px;
    background: $cWhite;
    box-shadow: 0 1px 6px rgba(92, 92, 92, 0.15);
    border-radius: 20px;
    transition: box-shadow $transition;

    &:hover {
        box-shadow: 0 4px 10px rgba(129, 97, 97, 0.15);
    }

    &__name {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 120%;
        color: $cBlack1;
        font-weight: 500;
        transition: color $transition;
    }

    &:hover &__name {
        color: $cSecondary;
    }

    &__text {
        font-size: 16px;
        line-height: 140%;
        color: $cGrayDark;
        transition: color $transition;
    }

    &:hover &__text {
        color: $cSecondary;
    }

    &__actions {
        position: absolute;
        right: 12px;
        bottom: 12px;
        display: flex;
        align-items: center;
    }

    &__button {
        width: 24px;
        height: 24px;
        margin-left: 5px;
        padding: 0;
        background: $cWhite;
        border: 0;
        outline: none;
        cursor: pointer;
        transition: $transition;

        &:hover {
            path {
                stroke: $cPrimary;
            }
        }

        &--orange-hover {
            &:hover {
                path {
                    stroke: $cSecondary;
                }
            }
        }
    }
}
