.c-catalog-filters-item {
    padding-bottom: 24px;

    &:not(&:first-child) {
        padding-top: 24px;
        border-top: solid 1px $cLightGray;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__label {
        color: $cBlackAlike;
        font-size: 18px;
        font-weight: 500;
        line-height: 120%;
    }

    &__inner {
        margin-top: 15px;
    }

    &--collapsable &__icon {
        display: flex;
    }

    &--collapsable &__inner {
        display: none;
    }

    &--opened &__inner {
        display: block;
    }

    &--collapsable &__header {
        cursor: pointer;
    }

    &__icon {
        display: none;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;
        background: $cPrimary;
        border-radius: 4px;
    }
}
