.ui-page {
    padding-top: 90px;
    flex: 1;
    &--aside{
        display: flex;
    }

    &__content{
        width: 880px;
    }

    &__aside{
        width: 320px;
        margin-left: 80px;
    }

}
