.ui-typography {
    color: $cDarkPrimary;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    @include isMobile {
        font-size: 14px;
        line-height: 140%;
    }

    * {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    h1 {
        margin: 0 0 25px 0;
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 43px;
        letter-spacing: 0.02em;
        margin-bottom: 20px;

        @include isMobile {
            margin-bottom: 16px;
            font-size: 16px;
            line-height: 120%;
        }

        @include isTablet {
            margin-bottom: 30px;
        }

        @include is1024() {
            font-size: 30px;
            line-height: 120%;
        }
    }

    h2 {
        margin: 0 0 25px 0;
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 43px;
        letter-spacing: 0.02em;
        margin-bottom: 20px;

        @include isMobile {
            margin: 40px 0 16px;
        }

        @include isTablet {
            font-size: 24px;
            line-height: 110%;
        }
    }

    h3 {
        margin: 0 0 25px 0;
        font-style: normal;
        font-weight: 800;
        font-size: 28px;
        line-height: 43px;
        letter-spacing: 0.02em;
        margin-bottom: 20px;

        @include isMobile {
            margin: 40px 0 16px;
        }
    }

    h4 {
        margin: 0 0 25px 0;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 43px;
        letter-spacing: 0.02em;
        margin-bottom: 20px;

        @include isMobile {
            margin: 16px 0;
            font-size: 20px;
            line-height: 100%;
        }

        @include isTablet {
            font-size: 20px;
            line-height: 100%;
        }
    }

    p {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 180%;
        color: $cDarkPrimary;
        text-align: left;
        margin-bottom: 20px;

        @include isMobile {
            margin: 20px 0;
            font-size: 14px;
            line-height: 18px;
        }
    }

    a:not([class]) {
        color: $cGreenPrimary;
        text-decoration: none;
        transition: color $transition;

        &:hover {
            color: $cGrayPrimary;
        }
    }

    b,
    strong {
        color: $cTypo;
        font-weight: 500;
    }

    img:not([class]) {
        display: inline-block;
        width: 385px;
        height: 260px;
        border-radius: 5px;
        margin-right: 10px;

        @include isMobile {
            margin: 16px 0;
        }
    }

    blockquote {
        display: flex;
        gap: 57px;
        min-height: 154px;
        background: url("../../../public/assets/images/typical/quote.svg") no-repeat left center;
        background-size: 188px 154px;
        padding-left: 240px;
        margin: 20px 0;
        p {
            padding: 0;
            margin: 0;
            font-weight: 400;
            font-size: 24px;
            line-height: 1.8;
        }

        @include isMobile {
            padding: 16px 26px 16px 16px;
            margin: 16px 0;
        }
    }

    ul {
        padding: 0;
        margin: 24px 0;
        list-style: none;

        li {
            position: relative;
            padding-left: 30px;
            margin-top: 16px;
            font-weight: 300;
            font-size: 16px;
            line-height: 25px;

            &:not(:last-child) {

                @include isMobile {
                    margin-bottom: 12px;
                }
            }

            &::before {
                position: absolute;
                top: 7px;
                left: 1px;
                width: 6px;
                height: 6px;
                border: 1px solid $cGrayPrimary;
                border-radius: 100%;
                content: '';

                @include isMobile {
                    top: 7px;
                }
            }
        }
    }

    ol {
        padding: 0;
        margin: 16px 0;
        list-style: none;
        counter-reset: section;

        li {
            position: relative;
            padding-left: 21px;

            &:not(:last-child) {
                margin-bottom: 16px;

                @include isMobile {
                    margin-bottom: 12px;
                }
            }

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                color: $cGrayPrimary;
                content: counter(section) '.';
                counter-increment: section;
            }
        }
    }
}
