.layout-catalog-alphabet {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    gap: 24px;

    &__label {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        color: $cGrayPrimary;
    }

    &__items {
        display: flex;
        align-items: center;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 28px;
        min-width: 28px;
        padding: 0 7px;
        border-top: 1px solid #CED8F1;
        border-bottom: 1px solid #CED8F1;
        border-left: 1px solid #CED8F1;
        cursor: pointer;
        color: $cTypo;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        transition: 0.25s;

        &:hover {
            color: $cGreenPrimary;
        }

        &:nth-last-child(1), &:nth-last-child(2) {
            margin-left: 16px;
        }

        &:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(2) {
            border-right: 1px solid #CED8F1;
        }
    }
}
