.vm-catalog-hotel {
    width: 880px;
    height: 351px;
    box-shadow: 0px 1px 10px 0px #00000014;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 30px;
    background-color: $cWhite;

    &__wrap {
        display: flex;

        &--center {
            display: flex;
            align-items: center;
        }

        &--absolute {
            width: 330px;
            position: absolute;
            top: 20px;
            left: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 4;
            color: $cWhite;

            .ui-icon {
                margin-left: 20px;
                margin-right: 10px;
            }
        }
    }

    &-media {
        position: relative;
        min-width: 370px;
        max-width: 370px;
        position: relative;

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, #04374D -21.66%, rgba(4, 55, 77, 0) 31.8%, rgba(4, 55, 77, 0) 74.94%, #04374D 125.45%);

        }

        &__image {
            width: 370px;
            height: 261px;
            background-size: cover;
        }

        &__button {
            width: 30px;
            height: 30px;
            border-radius: 6px;

            .ui-icon {
                margin: 0;
            }
        }

        &__rating {
            width: 40px;
            height: 40px;
            color: $cWhite;
            font-weight: 500;
            font-size: 18px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: $cDarkPrimary;
            opacity: 0.7;
            border-radius: 50%;
            margin-right: 6px;

        }

        &-slider {
            bottom: 0;
            overflow: hidden;
        }

        &-slide {
            position: relative;
            display: flex;

            &__inner {
                display: inline-block;
                cursor: pointer;
                overflow: hidden;
            }

            &__image {
                width: 370px !important;
                height: 260px !important;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            &__overlay {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                backdrop-filter: blur(2px);
            }
        }

        &-line {
            z-index: 10;
            bottom: 6px;
            left: 10px;
            width: 350px;
            position: absolute;

            &__step {
                width: 100%;
                height: 3px !important;
                flex-grow: 1;
                cursor: pointer;
                transition: opacity 0.3s ease-in-out;
                background-color: $cGraySecondary;
                z-index: 6;

                &--active {
                    flex-grow: 1;
                    background-color: $cGreenPrimary;
                    z-index: 6;
                    opacity: 1;
                }
            }
        }
    }

    &-description {
        padding: 20px 20px 20px 30px;
        width: 100%;
        height: 261px;
        border-bottom: 2px solid $cGraySecondary;

        &-header {
            height: 20px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 20px;

            &__wrap {
                display: flex;
                align-items: center;
            }

            &__stars {
                width: fit-content;
                display: flex;
                gap: 5px;
                margin-right: 11px;
            }

            &__button {
                width: 52px;
                height: 19px !important;
                font-size: 12px !important;
                font-weight: 400;
                line-height: 14px;
                letter-spacing: 0em;
                text-align: center;
                margin-right: 10px;
            }

        }

        &__title {
            font-size: 24px;
            font-weight: 800;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 10px;
        }

        &-info {
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: $cDarkPrimary;
            display: flex;
            margin-bottom: 20px;

            &__country {
                max-width: 250px;
                padding-right: 20px;
                border-right: 1px solid $cGrayPrimary;
            }

            &__link {
                text-decoration: underline;
                margin-left: 20px;
                display: flex;
                gap: 10px;
                align-items: center;

                .ui-link {
                    color: $cDarkPrimary;
                }
            }
        }

        &-address {
            color: $cDarkPrimary;
            font-size: 14px;
            font-weight: 300;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            display: flex;
            gap: 12px;
            align-items: center;
            margin-bottom: 30px;
        }

        &-details {
            display: block;
            width: 380px;
            height: 49px;
            overflow: hidden;

            &__icon{
                width: 24px;
                height: 24px;
                opacity: 0.5;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }

            &__item {
                margin-right: 20px;
                width: 45px;
                height: 45px;
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
                letter-spacing: 0em;
                text-align: center;

                .ui-button__inner {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 3px;
                }
            }
        }

    }

    &-footer {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0em;
        text-align: left;
        color: $cDarkSecondary;
        padding: 20px 20px 20px 32px;

        &__wrap {
            display: flex;
            align-items: center;
        }

        &--bald {
            margin-top: 4px;
            font-weight: 500;
            color: $cDarkPrimary;
            margin-left: 10px;
            margin-bottom: 10px;
        }

        &__price {
            margin-right: 20px;
            font-size: 24px;
            font-weight: 800;
            letter-spacing: 0em;
            text-align: left;
            color: $cDarkPrimary;
            margin-bottom: 4px;

            &--old {
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 0em;
                text-align: left;
                text-decoration: line-through;
            }
        }

        &__button {
            margin-left: 24px;
            width: 220px;
            height: 50px;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0em;
            text-align: center;

        }
    }

}
