.ui-modal-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .ui-button {
        width: calc((100% - 16px) / 2);
    }
}
