.p-credit-calculator{
    height: fit-content;
    background-color: $cWhite;
    box-shadow: 0px 1px 10px 0px #00000014;
    border-radius: 5px;
    padding: 36px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 38px;
    &__wrap{
        display: flex;
        justify-content: space-between;
        &--flex{
            display: flex;
        }
    }

    &__input{
        width: 380px;
        height: 50px;
        &--small {
            width: 190px;
            height: 50px;

            .ui-input__control {
                border-bottom-left-radius: 0 !important;
                border-top-left-radius: 0 !important;
            }
        }
    }

    &__select{
        width: 380px;
        height: 50px;
        &--small{
            width: 190px;
            height: 50px;
            .ui-select-view {
                border-bottom-right-radius: 0 !important;
                border-top-right-radius: 0 !important;
                border-right: none;
            }
        }
    }

    &__label{
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: $cDarkSecondary;
        margin-bottom: 10px;
        display: block;
    }

    &-price{
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0em;
        text-align: right;
        color: $cDarkPrimary;
        text-align: right;

        &__numbers{
            margin-top: 22px;
            display: block;
            color: $cGreenPrimary;
            font-size: 36px;
            font-weight: 800;
            line-height: 43px;
            letter-spacing: 0em;
            text-align: right;

        }
    }
}
