.p-home-brands {
    .ui-article-tile {
        &__image {
            margin-bottom: 8px;
        }
    }
}

.p-home-brands-slider {
    position: relative;

    @include isMobile {
        width: calc(100% + #{$wrapPaddingXS} * 2);
        margin: 0 -#{$wrapPaddingXS};
    }

    .ui-slider {
        padding: 0 55px;

        @include isMobile {
            padding: 0;
        }

        @include isTablet {
            padding: 0 35px;
        }

        @include is1024() {
            padding: 0 26px;
        }
    }

    .swiper {
        @include isMobile {
            padding: 0 5px;
        }
    }

    .swiper-slide {
        width: auto;
    }

    &-slide {
        display: block;
        width: fit-content;
        height: 80px;
        padding: 0 28px;

        @include isMobile {
            height: 45px;
            padding: 0 5px;
        }

        @include isTablet {
            height: 45px;
            padding: 0 25px;
        }

        @include is1024() {
            height: 70px;
            padding: 0 29px;
        }

        img {
            display: block;
            height: 100%;
        }
    }

    &-navigation {
        @include isMobile {
            display: none;
        }

        &__button {
            position: absolute;
            top: 50%;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 40px;
            background: $cBlueLight;
            cursor: pointer;
            transform: translateY(-50%);
            transition: $transition;

            @include is360() {
                display: none;
            }

            &:hover {
                @include iconColor($cPrimaryDark);
            }

            &:first-child {
                left: 0;
            }

            &:last-child {
                right: 0;
            }
        }
    }
}
