.p-checkout {
    counter-reset: section;

    &__inner {
        display: flex;
        align-items: flex-start;
        gap: 16px;
    }

    &__main {
        flex: 1;
    }

    &__aside {
        min-width: 310px;
        width: 310px;
        padding-top: 50px;
    }

    &-section {
        margin-bottom: 50px;

        &__stores {
            flex: 1;
        }

        &__header {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 24px;
        }

        &__counter {
            display: flex;
            align-items: center;
            width: 22px;
            height: 22px;
            background-position: center;
            background-size: contain;
            font-size: 16px;
            font-weight: 400;
            line-height: 120%;
            color: $cGrayPrimary;
            padding-left: 5px;
            background-image: url("/assets/images/checkout/section-icon.svg");

            &::before {
                counter-increment: section;
                content: counter(section);
            }
        }

        &__title {
            font-weight: 700;
            font-size: 24px;
            line-height: 110%;
            color: $cTypo;
        }

        &__inner {
            &--stores {
                gap: 16px;
                display: flex;
                align-items: flex-start;
            }

            &--row {
                gap: 16px;
                display: flex;
                align-items: flex-start;
            }
        }

        &__map {
            width: 500px;
            height: 700px;
            border-radius: 24px;
            overflow: hidden;
        }
    }
}
