.c-order-status {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 8px 16px 9px;
    border-radius: 4px 12px;
    color: $cWhite;
    font-size: 13px;
    line-height: 100%;
}
