.p-login{
    padding: 0;
    background-image: url('/assets/images/login/background.png');
    background-repeat: no-repeat;
    background-size: 50% 100%;
    min-height: 980px;
    &--wrap{
        display: flex;
        justify-content: space-between;
        padding: 0 110px;
    }
    &-banner{
        color: $cWhite;
        &__logo{
            margin-top: 276px;
            margin-bottom: 80px;
            width: 160px;
            height: 55px;
            background-image: url('/assets/images/logo_light.svg');
            background-size: cover;
            background-repeat: no-repeat;
        }
        &__title{
            font-weight: 800;
            font-size: 36px;
            margin-bottom: 40px;
            width: 480px;
        }
        .ui-typography{
            li{
                color: $cWhite;
                margin-top: 24px;
            }
        }


    }


}
