.p-checkout {
    &-stores {
        margin-bottom: 24px;
        background: #FBFBFB;
        border: 1px solid #DEDEDE;
        border-radius: 20px;

        &__header {
            padding: 24px;
            background: $cWhite;
            border: 1px solid #DEDEDE;
            border-radius: 20px 20px 0 0;
        }

        &__inner {
            padding: 24px 4px 24px 24px;
        }

        &-section {
            &:not(&:last-child) {
                margin-bottom: 24px;
            }

            &__title {
                margin-bottom: 20px;
                color: $cBlackAlike;
                font-size: 24px;
                font-weight: 500;
                line-height: 100%;
            }
        }
    }

    &-map {
        margin-bottom: 24px;
        border: 1px solid #DEDEDE;
        border-radius: 20px;
        overflow: hidden;
    }
}
