.c-catalog-product {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 16px;
    text-decoration: none;

    &__badges {
        position: absolute;
        top: 4px;
        left: 16px;
    }

    &__image {
        width: 100%;
        height: 155px;
        margin-bottom: 12px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__image:hover ~ &__name {
        color: $cGreenPrimary;
    }

    &__name {
        margin-bottom: 8px;
        color: $cTypo;
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
        transition: 0.2s;

        &:hover {
            color: $cGreenPrimary;
        }
    }

    &__price {
        margin-top: auto;
        margin-bottom: 14px;
    }

    &__footer {
        display: flex;
        gap: 14px;
    }

    &__unavailable {
        margin-top: auto;
        margin-bottom: 12px;
        color: $cGrayPrimary;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
    }

    .ui-button {
        flex: 1;
    }

    &__properties {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        gap: 8px;
    }

    &__property {
        display: flex;
        align-items: center;
        height: 20px;
        padding: 0 6px;
        border-radius: 24px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;

        &--green {
            border: 1px solid $cGreenSecondary;
            color: $cGreenSecondary;
        }

        &--blue {
            border: 1px solid #0047FF;
            color: #0047FF;
        }
    }
}
