.layout-header {
    font-weight: 300;

    &--fixed {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        background: $cWhite;
    }

    &--dummy {
    }

    &__top {
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
    }

    &__main {
        display: flex;
        align-items: flex-start;
        padding: 18px 0;
        height: 87px;
    }

    &__logo {
        width: 145px;
        height: 50px;
        margin-right: 97px;
        background-image: url("/assets/images/logo.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }

    &__catalog {
        margin-right: 16px;
    }

    &__actions {
        display: flex;
        align-items: center;
        font-weight: 500;
        .ui-button {
            margin-right: 20px;
        }
    }

    &--minified {
        height: 96px;
        box-shadow: 0 0 20px 0 rgba(74, 74, 74, 0.10);
    }

    &--minified & {
        &__top {
            display: none;
        }

        &-search__prompts {
            display: none;
        }

        &-promo {
            display: none;
        }

        &__main {
            align-items: center;
        }

        &-catalog {
            top: 96px;
        }
    }

    &__info{
        color: $cDarkPrimary;
        font-size: 18px;
        margin-right: 40px;

        .ui-icon{
            margin-left: 12px;
        }
    }
    &__currency{
        color: $cDarkPrimary;
        margin-right: 48px;
        img {
            width: 16px;
            height: 16px;
            margin-right: 10px;
        }

    }
}
