.layout-header {
    height: 87px;

    &--fixed {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        background: $cWhite;
    }

    &--dummy {
    }

    &__top {
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
    }

    &__main {
        display: flex;
        align-items: flex-start;
        padding: 24px 0;
    }

    &__logo {
        width: 145px;
        height: 50px;
        margin-right: 56px;
        background-image: url("/assets/images/logo.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }

    &__catalog {
        margin-right: 16px;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &--minified {
        height: 96px;
        box-shadow: 0 0 20px 0 rgba(74, 74, 74, 0.10);
    }

    &--minified & {
        &__top {
            display: none;
        }

        &-search__prompts {
            display: none;
        }

        &-promo {
            display: none;
        }

        &__main {
            align-items: center;
        }

        &-catalog {
            top: 96px;
        }
    }
}
