.p-promo-action {
    position: relative;
    width: 100%;
    margin-bottom: 64px;

    &__inner {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 24px;
        padding: 0 8px;

        @include is768($w1366) {
            gap: 24px;
        }

        @include is360() {
            gap: 16px;
        }

        @include isMobileOrTablet() {
            flex-wrap: wrap;
        }
    }

    &__body {
        @include is1024() {
            width: calc(100% - 450px - 26px);
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 24px;
        padding: 7px 8px;
    }

    &__image {
        flex-shrink: 0;
        width: 600px;

        img {
            width: 100%;
            border-radius: 24px;
        }
    }

    &__title {
        @include h2;
        margin: 0 0 12px;
        color: $cBlackText;
    }

    &__date {
        @include text;
        margin-bottom: 28px;
        color: $cGrayDark;
    }

    .ui-typography {
        * {
            font-weight: 300;
            font-size: 16px;
            line-height: 18px;
        }
    }
}
