.p-home-alphabet {
    padding: 50px 45px;
    box-shadow: 0 4px 40px rgba(108, 108, 108, 0.1);
    background-color: $cWhite;
    background-position: right 40px center;
    background-repeat: no-repeat;
    background-size: 350px auto;
    border-radius: 40px;

    @include isMobileOrTablet() {
        background-image: none !important;
    }

    &__title {
        margin-bottom: 30px;
        color: $cBlackAlike;
        font-size: 32px;
        font-weight: 700;
        line-height: 120%;

        @include is360() {
            margin-bottom: 16px;
            font-size: 16px;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(10, 64px);
        margin-bottom: 14px;
        gap: 14px;

        @include is1024() {
            grid-template-columns: repeat(8, 64px);
        }

        @include is768() {
            grid-template-columns: repeat(8, 1fr);
        }

        @include is360() {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &-item {
        position: relative;
        width: 100%;
        height: 66px;
        box-shadow: 0 4px 12px rgba(57, 57, 57, 0.1);
        background: $cWhite;
        border-radius: 20px;
        color: $cBlackAlike;

        &__inner {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
            font-size: 24px;
            font-weight: 500;
            line-height: 100%;
            transition: 0.25s;
        }

        &:hover {
            background: $cPrimary2;
            color: $cPrimary;
        }

        &--wide {
            width: auto;
            padding: 0 25px;
        }
    }

    &__other {
        display: grid;
        grid-template-columns: repeat(8, 92px);
        width: 100%;
        gap: 14px;

        @include is1024() {
            grid-template-columns: repeat(6, 92px);
        }

        @include is768() {
            grid-template-columns: repeat(6, 1fr);
        }

        @include is360() {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
