.p-vacancy {
    height: 100%;
    width: 100%;
    background-color: $cGraySecondary;

    &--flex {
        padding-top: 36px !important;
        padding-bottom: 60px !important;
        display: flex;
    }

    &__title{
        font-size: 48px;
        font-weight: 800;
        line-height: 58px;
        letter-spacing: 0.02em;
        text-align: left;
        margin-top: 0;
    }


    &-content {
        width: 800px;
    }


    &__offset{
        width: 80px;
    }

}


