.vacancy-page {
    height: 100%;
    width: 100%;
    background-color: $cGraySecondary;
    padding: 36px 0 60px 0;

    &--flex {
        display: flex;
    }

    &-body{
        width: 880px;

    }

    &-content {
        width: 800px;
    }


    &__offset{
        width: 80px;
    }

}


