.p-vacancy {
    height: 100%;
    width: 100%;
    background-color: $cGraySecondary;

    &--flex {
        padding-top: 36px;
        padding-bottom: 60px;
        display: flex;
    }

    &-body{
        width: 880px;

    }

    &-content {
        width: 800px;
    }


    &__offset{
        width: 80px;
    }

}


