.c-profile-menu {
    @include isMobileOrTablet() {
        display: flex;
        gap: 16px;
    }

    &__image {
        display: flex;
        justify-content: center;
        margin: 0 auto 26px;
        background: center no-repeat;
        background-size: cover;
        border-radius: 200px;

        @include isMobileOrTablet() {
            margin: 0;
        }
    }

    &-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: $cGrayDark;
        text-decoration: none;
        transition: color $transition;

        &:not(&:last-child) {
            margin-bottom: 16px;
        }

        &--active {
            color: $cPrimary;
            font-weight: 500;

            .ui-icon {
                path {
                    fill: $cPrimary;
                }
            }
        }

        &:hover {
            color: $cPrimary;

            .ui-icon {
                path {
                    fill: $cPrimary;
                }
            }
        }

        &__icon {
            display: flex;
            align-items: center;
            margin-right: 10px;
        }
    }
}
