.ui-button {
    position: relative;
    background: $cGreenPrimary;
    border: none;
    border-radius: 24px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: $transition;

    &:hover:not(&--disabled) &__background {
        background-color: $cGreenSecondary;
        opacity: 1;
    }

    &--disabled {
        cursor: auto;
        opacity: 0.5;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-radius: 24px;
        opacity: 0;
        transition: $transition;
    }

    &__inner {
        position: relative;
        display: flex;
        z-index: 1;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: $cWhite;
        white-space: nowrap;
        transition: $transition;
        gap: 8px;
    }

    &--normal {
        height: 48px;
        padding: 0 24px;
        font-size: 16px;
        line-height: 19px;
    }

    &--small {
        height: 30px;
        padding: 0 12px;
        font-size: 14px;
        line-height: 18px;
    }

    &--small &__inner {
        gap: 4px;
    }

    &--icon {
        width: 48px;
        height: 48px;
        padding: 0;
    }

    &--icon &__inner {
        justify-content: center;
    }

    &:not(&--icon) {
        .ui-icon {
            &:first-child {
                margin-left: -8px;
            }

            &:last-child {
                margin-right: -8px;
            }
        }
    }

    &__notification {
        position: absolute;
        top: 0;
        right: 0;
        height: 16px;
        min-width: 16px;
        padding: 0 4px;
        background: $cRedPrimary;
        border-radius: 100%;
        color: $cWhite;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
}
