import React from "react";
import { observer } from "mobx-react";

import './index.scss';

type PropsType = {
}

export const Ui{{pascalCase name}} = observer(({  }: PropsType) => {
    return (
        <div className="ui-{{kebabCase name}}">
        </div>
    )
});
