.c-order-item {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 16px 0;
    border-bottom: 1px solid #CED8F1;;

    &__image {
        width: 76px;
        height: 76px;
        margin-right: 16px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__price {
        margin-left: auto;
    }

    &__header {
        display: flex;
        align-items: flex-start;
        gap: 8px;
    }

    &__name {
        max-width: 400px;
        color: $cTypo;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    &__quantity {
        color: $cGrayPrimary;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }
}
