.vm-hotel{
    display: flex;
    width: 880px;
    height: 290px;
    &-media {
        position: relative;
        width: 370px;
        &__image {
            width: 100%;
            height: 290px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &-slider {
            left: 20px;
            bottom: 0;
            overflow: hidden;

            &__arrow {
                display: flex;
                align-items: center;
                cursor: pointer;
                @include iconColor($cGreenPrimary);
            }

            &__control {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                display: flex;
                align-items: center;

                &--next {
                    right: 0;
                    left: auto;
                }
            }
        }

        &-slide {
            position: relative;
            display: flex;

            &__inner {
                display: inline-block;
                cursor: pointer;
                overflow: hidden;


            }

            &__image {
                width: 370px !important;
                height: 290px !important;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            &__overlay {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                backdrop-filter: blur(2px);
            }


        }



        &-line {
            z-index: 10;
            bottom: 6px;
            left: 10px;
            width: 350px;
            position: absolute;
            &__step {
                width: 100%;
                height: 3px !important;
                flex-grow: 1;
                cursor: pointer;
                transition: opacity 0.3s ease-in-out;
                background-color: $cGraySecondary;
                z-index: 6;

                &--active {
                    flex-grow: 1;
                    background-color: $cGreenPrimary;
                    z-index: 6;
                    opacity: 1;
                }
            }
        }
    }
}
