.c-catalog {
    &__header {
        margin-bottom: 48px;
        display: flex;
        align-items: center;
        gap: 16px;
    }
    &__count {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: $cGrayPrimary;
    }

    &__body {
        display: flex;
        align-items: flex-start;
        gap: 32px;
    }

    &__filters {
        width: 280px;
        min-width: 280px;
    }

    &__items {
        flex: 1
    }
}
