.layout-section {
    &:not(&:last-child) {
        margin-bottom: 70px;

        @include is360() {
            margin-bottom: 50px;
        }
    }

    &-header {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 24px;

        @include is360() {
            margin-bottom: 16px;
        }

        &__inner {
            display: flex;
            flex: 1;
            align-items: center;
            gap: 16px;
        }

        &__title {
            @include h2;
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 640px;
            color: $cBlackAlike;
            gap: 8px;

            @include is360() {
                font-size: 20px;
                line-height: 100%;
            }

            @include isTablet {
                font-size: 24px;
                line-height: 110%;
            }
        }

        &__badge {
            display: flex;
            align-items: center;
            height: 36px;
            padding: 0 14px;
            margin-left: 16px;
            border: 1px solid $cPrimary;
            border-radius: 4px 20px;
            color: $cPrimary;
            text-align: center;
            font-size: 16px;
            line-height: 100%;
        }

        &__aside {
            margin-left: auto;
        }
    }
}
