.c-catalog-product {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 14px;
    background: $cWhite;
    border-radius: 12px;

    &__preview {
        position: relative;
        width: 100%;
        height: 196px;
        min-height: 196px;
        margin-bottom: 16px;
    }

    &__image {
        width: 100%;
        height: 100%;
        background: center no-repeat;
        background-size: contain;
    }

    &__badges {
        position: absolute;
        top: 14px;
        left: 14px;
        z-index: 1;
        display: flex;
        align-items: center;
    }

    &__badge {
        padding: 7px 18px;
        border-radius: 40px;
        color: $cWhite;

        &:not(:last-child) {
            margin-right: 7px;
        }
    }

    &__delivery {
        position: absolute;
        right: 0;
        bottom: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $hControl;
        height: $hControl;
        background: $cWhite;
        box-shadow: 0 1.69231px 6.76923px rgba(0, 0, 0, 0.1);
        border-radius: 3.38462px 10.1538px;
        cursor: pointer;

        @include isMobileOrTablet() {
            height: $hControlMobile;
            width: $hControlMobile;
        }

        &:hover {
            @include iconColor($cPrimary);
        }
    }

    &-price {
        display: flex;
        align-items: center;
        margin-bottom: 14px;

        &__current {
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            color: $cSecondary;
        }

        &__old {
            position: relative;
            margin-left: 10px;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #767676;

            &::after {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $cSecondary;
                content: '';
            }
        }
    }

    &__name {
        display: block;
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 22px;
        color: #252525;
        text-decoration: none;
        transition: color $transition;

        &:hover {
            color: $cPrimary;
        }
    }

    &__description {
        margin-bottom: 16px;
        font-size: 15px;
        line-height: 18px;
        color: #5A5A5A;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
        gap: 15px;

        .ui-button {
            flex: 1;
        }
    }

    &__favorite {
        cursor: pointer;

        &:hover {
            @include iconColor($cSecondary);
        }
    }

    .swiper-slide & {
        height: 100%;
    }
}
