.c-back-button {
    @include text;
    display: flex;
    align-items: center;
    color: $cPrimary;
    text-decoration: none;
    gap: 4px;
    transition: color $transition;

    &:hover {
        color: $cPrimaryDark;

        @include iconColor($cPrimaryDark);
    }
}
