.layout-title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    @include is1024() {
        margin-bottom: 24px;
    }

    @include is768() {
        margin-bottom: 16px;
    }

    @include is360() {
        margin-bottom: 12px;
    }

    &__value {
        margin: 0;
        font-family: $fontSecondary;
        color: $cBlackText;
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;

        @include is360() {
            font-size: 24px;
            line-height: 110%;
        }

        @include is768() {
            font-size: 30px;
        }
    }

    &__badge {
        display: flex;
        align-items: center;
        height: 36px;
        padding: 0 14px;
        margin-left: 16px;
        border: 1px solid $cPrimary;
        border-radius: 4px 20px;
        color: $cPrimary;
        text-align: center;
        font-size: 16px;
        line-height: 100%;
    }
}
