$cBlack: #292929;
$cBlackText: #444449;
$cWhite: #FFFFFF;
$cPrimary: #00A3B3;
$cPrimaryDark: #007C81;
$cPrimaryLight: #E8FCFF;
$cGray: #A9B9DE;
$cGrayLight: #CED8F1;
$cGrayDark: #687CAB;
$cBlueLight: #EEF7FF;
$cBlueLight2: #E9EFFD;
$cRed: #E31E24;

$cBlack1: #000000;
$cBlack2: #252525;
$cWhite2: #FFFEFE;
$cWhiteGray: #FAFAFA;
$cPrimary2: #E3F5DE;
$cPrimaryGradient: linear-gradient(140.22deg, #BFC754 0%, #5DA14C 97.06%);
$cGrayText: #707070;
$cLightGray: #DADADA;
$cGrayTextLight: #C4C4C4;
$cGrayMedium: #5A5A5A;
$cGray1: #767676;
$cGray2: #434343;
$cGray3: #EDEDED;
$cGray4: #B7B7B7;
$cGray5: #ECECEC;
$cGray6: #797979;
$cGray7: #8D8D8D;
$cGray8: #DEDEDE;
$cGray9: #FBFBFB;
$cGrayBackground: #F8F8F8;
$cRedLight: #FDF5F3;
$cSecondary: #E03B6F;
$cSecondaryGradient: linear-gradient(140.22deg, #F29C5E 0%, #E03B6F 97.06%);
$cLayoutBackground: #F9FAFC;
$cYellowGreen: #BFC754;
